:root {
    --start-text-title-color: #E8E8E8;
    --start-text-sub-title-color: #42AA7A;
    --start-text-utility_color: 0, 89, 255;

    --text-highlight: 0px 0px var(--project-text-shadow-length) rgba(255, 255, 255, 1);

    --top-nav-bg-color: #004F75;
    --sub-topnav-bg-color: #6C85B7;
    --topnav-bg-color-invisible: #ffffff00;
    --topnav-bg-color-transition-time: 250ms;

    --main-container-width: 80%;

    --padding-between-elements: 100px;

    --about-me-bg-color: #ffe7e7;
    --about-me-fg-color: #000000;

    --projects-bg-color: #b89595;
    --projects-fg-color: #000000;
    --project-text-shadow-length: 5px;

    --project-button-default-opacity: 0.3;
    --project1-button-bg: 43,88,207;
    --project2-button-bg: 43,207,80;
    --project3-button-bg: 241,192,78;

    --contacts-bg-color: #9c9c9c;
    --contacts-fg-color: #000000;
    --contacts-border-color: #6861617a;

    --elementTitle-fg-color: #000000;
    --elementTitle-title-color: #a3cbff;

    --min-width-smartphone-breakpoint: 320px;
    --min-width-tablet-breakpoint: 600px;
    --min-width-pc-breakpoint: 1281px;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

#topnav {
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: var(--top-nav-bg-color);
    display: block;
    transition: background-color var(--topnav-bg-color-transition-time) linear;
    font-size: 1.5em;
}

#topnav i {
    float: left;
    color: var(--sub-topnav-bg-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3em;
}

.element a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

#topnav a:hover {
    background-color: #ddd;
    color: black;
}

#topnav a:active {
    background-color: #4CAF50;
    color: white;
}

#opennavbtn {
    float: right;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--top-nav-bg-color);
    color: white;
    padding: 10px 15px;
    border: none;
    display: none;
}

.subNavBar {
    overflow-y: hidden;
    height: 0px;
    width: 100%;
    background-color: var(--sub-topnav-bg-color);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.subNavBar.addClass {
    height: 10em;
}

.subNavBar a {
    padding: 8px 20px;
    text-decoration: none;
    color: #b8b7b7;
    display: block;
}

.sideBar {
    position: fixed;
    top: 30%;
    font-size: 1.5em;
}

.sideBar h6 {
    color: #7E7E7E;
}

.sidenav-text {
    visibility: hidden;
    opacity: 0;
    float: left;
    color: #ffffff;

    font-size: 0px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;

    transition: 0.2s;
}

.sideBar img {
    width: 1.95em;
    height: 1.95em;
    padding: 0.85em;
}

.linkedin {
    display: inline-block;
    background-color: #0368c7;
}

.linkedin:hover>a>.sidenav-text {
    visibility: visible;
    opacity: 1;
    font-size: 1.1em;
    padding: 1.1em 5px 1.1em 1.0em;
}

.github {
    background-color: #000000;
    display: inline-block;
}

.github:hover>a>.sidenav-text {
    visibility: visible;
    opacity: 1;
    font-size: 1.1em;
    padding: 1.1em 5px 1.1em 1.0em;
}

.email {
    background-color: #018d06;
    display: inline-block;
}

.email:hover>a>.sidenav-text {
    visibility: visible;
    opacity: 1;
    font-size: 1.1em;
    padding: 1.1em 5px 1.1em 1.0em;
}

.resume {
    background-color: #646464;
    display: inline-block;
}

.resume:hover>a>.sidenav-text {
    visibility: visible;
    opacity: 1;
    font-size: 1.1em;
    padding: 1.1em 5px 1.1em 1.0em;
}

.main_start_text {
    padding-top: 30vh;
    padding-bottom: 60vh;

    text-align: center;
    font-size: 1.6em;
}

.main_start_text h1 {
    color: var(--start-text-title-color);
}

.main_start_text #start_text_divider {
    border-color: rgb(var(--start-text-utility_color));
    max-width: 2.5em;
    border-width: 1.5px;
    margin: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.main_start_text h2 {
    color: var(--start-text-sub-title-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #253E45;
}

.main_start_text #start_text_button {
    margin-top: 2em;
    border: none;
    width: 10em;
    height: 3em;
    color: white;
    border-radius: 10px;
    background: #2B4E8F;
    transition: 0.5s;
    outline: none;
}

.main_start_text #start_text_button:hover {
    width: 12em;
    height: 4em;
    border-radius: 50px;
    background: rgb(var(--start-text-utility_color));
    text-shadow: var(--text-highlight);
}

#mainComponent {
    display: absolute;
    background-color: white;
    margin: auto;
    width: var(--main-container-width);
    font-size: 1.7em;
}

#mainComponent .about_me_description {
    width: 80%;
    margin: auto;
    font-size: 1.1em;
    line-height: 1.5em;
}

.elementTitle {
    text-align: center;
    font-weight: bold;
    color: var(--elementTitle-fg-color);
    font-size: 1.4em;
    padding-bottom: 3em;
}

.elementTitle:before,
.elementTitle:after {
    content: "";
    display: inline-block;
    width: calc(var(--main-container-width)/3);
    margin: 0 2em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
    color: var(--elementTitle-title-color);
}

.elementTitle:after {
    margin: 0 -55% 0 2em;
}

#about_me_section {
    padding: var(--padding-between-elements) 5em;
    background-color: var(--about-me-bg-color);
    color: var(--about-me-fg-color);
}

#about_me_title {
    background-color: var(--about-me-bg-color);
}

#projects_section {
    padding: var(--padding-between-elements) 0px;
    background-color: var(--projects-bg-color);
    color: var(--projects-fg-color);
}

#projects_title {
    background-color: var(--projects-bg-color);
}

.project {
    display: flex;
    padding: 70px 40px;
}

.project_img{
    display: inline-block;
    width: 23em;
    height: 15em;
    padding-top: 20px;
}

.project_info{
    width: 100%;
    margin: 0px;
    padding-left: 4em;
}

.project_info .title_project{
    font-weight: bold;
    font-size: 1.3em;
}

.project_info .technology_used{
    font-weight: bold;
    padding: 15px 15px; 
}

.project_info .project_description {
    font-size: 1.1em;
    line-height: 1.8em;
}

.description_space {
    padding-left: 2em;
    font-size: 1.0em;
    line-height: 1.5em;
}

.project_info .utility_button {
    padding-top: 30px;
}

.project_info .utility_button a{
    text-decoration: none;
}

.project_info .utility_button button {
    width: 9em;
    height: 3.5em;
    font-size: 1.0em;
    color: white;
    transition: 0.5s;
    border: none;
    border-radius: 5px;
    outline: none;
    justify-content: space-between;
}

.project_info .utility_button button:hover {
    border-radius: 50px;
    text-shadow: var(--text-highlight);
}

#project1_buttons button {
    background: rgba(var(--project1-button-bg), var(--project-button-default-opacity));
}

#project1_buttons button:hover {
    background: rgba(var(--project1-button-bg), 1);
}

#project2_buttons button {
    background: rgba(var(--project2-button-bg), var(--project-button-default-opacity));
}

#project2_buttons button:hover {
    background: rgba(var(--project2-button-bg), 1);
}

#project3_buttons button {
    background: rgba(var(--project3-button-bg), var(--project-button-default-opacity));
}

#project3_buttons button:hover {
    background: rgba(var(--project3-button-bg), 1);
}

#contacts_section {
    padding-top: var(--padding-between-elements);
    background-color: var(--contacts-bg-color);
    color: var(--contacts-fg-color);
}

#contacts_title {
    background-color: var(--contacts-bg-color);
}

#contact_description {
    display: flex;
}

#contact_form {
    display: inline-block;
    padding-left: 3em;
    padding-right: 20px;
    /* the width is given by 50% if the 100% width minus all the paddings added */
    width: calc(calc(50% - 3em) - 20px);
    border-right: 1px ridge var(--contacts-border-color);
    padding-bottom: var(--padding-between-elements);
    line-height: 30px;
}

#contact_form label {
    font-weight: bold;
}

#contact_form .form_input {
    width: 80%;
    padding: 20px 20px;
    background-color: var(--contacts-bg-color);
    border: 2px groove var(--contacts-border-color);
}

#contact_form .submit_button {
    border: 1.5px solid #000000;
}

#contact_form .submit_button:hover {
    transition: 0.2s;
    color: #2583b9;
    border: 2px groove #2583b9;
}

#contact_form .submit_button[value] {
    font-weight: bold;
}

#contact_info {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

#contact_info p{
    padding-left: 5px;
    height: 49.6%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    border: 1px solid var(--contacts-border-color);
}


@media only screen and (max-width: 767px) {
    .element {
        display: none;
    }

    #opennavbtn {
        display: block;
    }

    html {
        font-size: 8px;
    }

    .elementTitle {
        text-align: center;
        font-weight: bold;
        color: var(--elementTitle-fg-color);
        font-size: 1.0em;
        padding-bottom: 3em;
    }

    #about_me_section {
        padding: var(--padding-between-elements) 2em;
        background-color: var(--about-me-bg-color);
        color: var(--about-me-fg-color);
    }

    .project {
        display: block;
        padding: 20px 30px;
    }

    .project_info{
        width: 100%;
        margin: 0px;
        padding-left: 0em;
    }

    .title_project{
        padding-top: 30px;
        font-weight: bold;
        font-size: 1.3em;
    }

    .project_img{
        display: inline-block;
        width: 15em;
        height: 10em;
        padding-top: 20px;
    }

    .project_info .utility_button button {
        width: 7.0em;
        height: 3em;
        font-size: 0.9em;
    }

    #contact_description {
        display: block;
    }

    #contact_form {
        display: block;
        align-items: center;
        /* the width is given by 100% width minus all the paddings added */
        width: calc(calc(100% - 2em) - 20px);
        padding-bottom: var(--padding-between-elements);
        padding-left: 2em;
        line-height: 30px;
    }

    #contact_info {
        width: 100%;
        display: block;
    }
    
    #contact_info p{
        padding-left: 2em;
        height: 100px;
        align-items: center;
        vertical-align: middle;
        border: 1px solid var(--contacts-border-color);
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .subNavBar {
        height: 0;
    }

    .subNavBar b {
        display: none
    }

    html {
        font-size: 9px;
    }

    .project_img{
        display: inline-block;
        width: 17em;
        height: 12em;
        padding-top: 5px;
    }

    .project_info .utility_button button {
        width: 7.5em;
        height: 3.5em;
        font-size: 0.9em;
    }

    .project_info{
        width: 100%;
        margin: 0px;
        padding-left: 2em;
    }
}

@media only screen and (min-width: 1200px) {
    .subNavBar {
        height: 0;
    }

    .subNavBar b {
        display: none
    }

    html {
        font-size: 10px;
    }
}