/*get a divider between project*/
:root {
    /* darkest color */
    --color1: #1d3557;
    /* lighter shade of darkest color */
    --color2: #4f82b3;

    /* color used to highlight*/
    --color3: #e63946;

    /* primary text color for titles */
    --color4: #96e1e4;
    /* secondary text color for description (has lighter shade) */
    --color5: #f1faee;

    --text-highlight: 0px 0px var(--project-text-shadow-length) rgba(255, 255, 255, 0.7);

    --main-container-border-radius-mobile: 5px;
    --main-container-border-radius-ipad: 20px;
    --main-container-border-radius-pc: 40px;

    --main-container-width-pc: 80%;
    --main-container-width-mobiles: 85%;
    --padding-between-elements: 100px;

    --first-section-color: var(--color1);
    --second-section-color: white;
    --third-section-color: white;
    --fourth-section-color: var(--color1);

    --project-text-shadow-length: 5px;

    --contacts-bg-color-focus: #a8a8a8;

    /* Description font family */
    --titlefont-family: Arial, Helvetica, sans-serif;
    --content-font-family: "Times New Roman", Times, serif;

    --element-title-font-family: Georgia, serif;
    /* Used for buttons text and top/sub bar */
    --button-font-family: Helvetica, Arial, sans-serif;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url("../img/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

button:hover {
    cursor: pointer;
}

#topnav {
    position: fixed;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    border-bottom: transparent;
    opacity: 0.90;
    display: block;
    transition: background-color 300ms linear;
    font-size: 1.6em;
    font-family: var(--button-font-family);
}

#topnav #topnav_symbol{
    float: left;
    color: var(--color1);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: var(--element-title-font-family);
    margin-left: 2em;
    font-weight: bold;
    transition: 0.3s;
}

#topnav #topnav_symbol:hover{
    color: var(--color3);
    font-size: 1.4em;
}

#element a {
    float: right;
    color: var(--color1);
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

#element a:hover {
    background-color: var(--color5);
    color: var(--color3);
}

#element a:active {
    background-color: var(--color4);
    color: var(--color3);
}

#opennavbtn {
    background-color: var(--color1);
    color: var(--color4);
    font-size: 20px;
    float: right;
    padding: 10px 15px;
    border: none;
    display: none;
}

#subNavBar {
    background-color: var(--color1);
    filter: brightness(150%);
    overflow-y: hidden;
    height: 0px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    font-family: var(--button-font-family);
}

#subNavBar.addSubNavBarHeight {
    height: 10em;
}

#subNavBar a {
    padding: 8px 20px;
    text-decoration: none;
    color: #b8b7b7;
    display: block;
}

#sideBar {
    position: fixed;
    top: 30%;
    font-size: 1.5em;
}

#sibar_main_text {
    font-size: 0.8em;
    line-height: 25px;
    color: var(--color1);
    font-family: var(--titlefont-family);
}

.sidenav-text {
    visibility: hidden;
    opacity: 0;
    float: left;
    color: #ffffff;

    font-size: 0px;
    font-weight: bold;
    font-family: var(--titlefont-family);

    transition: 0.2s;
}

#sideBar img {
    width: 1.95em;
    height: 1.95em;
    padding: 0.85em;
}

#linkedin {
    background-color: #0368c7;
}

#github {
    background-color: #000000;
}

#email {
    background-color: #018d06;
}

#resume {
    background-color: #646464;
}

.sideBar_container {
    display: inline-block;
    border: 1px #00000044 solid;
}

.sideBar_container:hover>a>.sidenav-text {
    visibility: visible;
    opacity: 1;
    font-size: 1.1em;
    padding: 1.1em 5px 1.1em 1.0em;
}

#container {
    padding-top: 30vh;
    padding-bottom: 50vh;
}

#main_start_text {
    text-align: center;
    font-size: 2em;
}

#main_start_text #start_text_main {
    font-size: 2em;
    letter-spacing: 3px;
}

#main_start_text #start_text_divider {
    border-color: var(--color1);
    background-color: var(--color1);
    filter: brightness(200%);
    max-width: 3em;
    border-width: 1.5px;
    margin: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

#main_start_text #start_text_sub {
    font-size: 1em;
    line-height: 1.4em;
    font-style: italic;
}

#main_start_text #start_text_button {
    margin-top: 3em;
    border: none;
    width: 12em;
    height: 4em;
    color: var(--color5);
    border-radius: 10px;
    background: var(--color1);
    transition: 0.5s;
    outline: none;

    font-family: var(--button-font-family);
    font-size: 0.65em;
    letter-spacing: 1px;
}

#main_start_text #start_text_button:hover {
    background: var(--color1);
    filter: brightness(150%);
    width: 12em;
    height: 4em;
    border-radius: 50px;
    text-shadow: var(--text-highlight);
}

#mainComponent {
    border: 1px solid #000000ce;
    border-radius: var(--main-container-border-radius-pc);
    display: absolute;
    background-color: white;
    margin: auto;
    width: var(--main-container-width-pc);
    font-size: 1.7em;
}

.elementTitle {
    text-align: center;
    font-weight: bold;
    color: var(--color1);
    font-size: 2em;
    padding-bottom: 3em;

    font-family: var(--element-title-font-family);
    letter-spacing: 3px;
    font-variant: small-caps;
    font-weight: normal;
}

.elementTitle:before,
.elementTitle:after {
    content: "";
    display: inline-block;
    width: calc(var(--main-container-width-pc)/3);
    margin: 0 2em 0 -55%;
    vertical-align: middle;
    border-bottom: 3px double;
    color: var(--color1);
}

.elementTitle:after {
    margin: 0 -55% 0 2em;
}

#about_me_section {
    border-bottom: 1px solid #00000059;
    border-radius: var(--main-container-border-radius-pc) var(--main-container-border-radius-pc) 0 0;
    padding: var(--padding-between-elements) 5em;
    background: linear-gradient(to top left, var(--first-section-color) 0%, var(--second-section-color) 100%);
    color: var(--color4);
}

#about_me_info {
    display: flex;
    padding: 20px 2em;
    width: 100%;
}

#photo {
    color: black;
    width: 60em;
    height: 50em;
}

.about_me_description {
    width: 100%;
    padding-left: 80px;
    padding-top: 30px;
    font-size: 1.1em;
    line-height: 1.5em;
}

#about_me_maintext {
    font-size: 1.6em;
}

.main_text {
    color: var(--color4);
    font-family: var(--titlefont-family);
    font-weight: bold;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.589);
}

#about_me_sub_info {
    color: var(--color5);
    font-size: 0.8em;
    padding-left: 1.5em;
    padding-bottom: 2.5em;
    filter: brightness(40%);
}

#about_me_subtext {
    line-height: 1.8em;
    letter-spacing: 1px;
    font-size: 1em;
}

.sub_text {
    color: var(--color5);
    font-family: var(--content-font-family);
}

#projects_section {
    padding: var(--padding-between-elements) 10em 0px 10em;
    border-bottom: 1px solid #00000000;
    background: linear-gradient(to bottom left, var(--first-section-color) 0%, var(--third-section-color) 100%);
}

.project {
    padding-top: 10vh;
    padding-bottom: 20vh;
    display: grid;
    grid-template-columns: auto auto;
}

.first_section_project {
    display: grid;
    grid-gap: 30px;
}

.project_img {
    width: 24em;
    height: 17em;
}

.list_tech {
    padding-top: 1em;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 1.5rem;
    color: var(--color5)
}

.list_tech li i {
    color: var(--color2)
}

.utility_link a {
    text-decoration: none;
    color: var(--color2)
}

.second_section_project {
    width: 100%;
    margin: 0px;
    padding-left: 4em;
}

.project_title_main {
    font-weight: bold;
}

.project_title_subject {
    color: var(--color1);
    font-size: 1.6em;
}

.project_description {
    font-size: 1.1em;
    line-height: 1.8em;
}

.description_space {
    margin-left: 2.5em;
    margin-top: 0.8em;
    font-size: 1.0em;
    line-height: 1.5em;
}

.list_features {
    padding-top: 1em;
    display: grid;
    list-style: none;
    grid-template-columns: auto;
    grid-row-gap: 1.5rem;
    color: var(--color5)
}

.list_features li i {
    color: var(--color2)
}

.show_hide_project_buttons {
    display: block;
    width: 100%;
    padding: 30px 0px;
    background-color: #00000000;
    border: none;
    outline: none;
    transition: 0.5s;
    opacity: 0.5;
}

.show_hide_project_buttons:hover {
    background-color: #0000003f;
}

.show_hide_project_buttons:hover span {
    border-color: var(--color3);
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 0;

    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    margin-top: 40px;
}

.arrow:hover + .tooltiptext {
    visibility: visible;
  }

#show_more_project_button {
    /* add more space between the button (when shown) and the project (it is added/deducted via JS) */
    margin-top: 50px;
    visibility: visible;
}

#hide_project_button {
    /* add more space between the button (when shown) and the project (it is added/deducted via JS) */
    margin-top: 0px;
    visibility: hidden;
    display: none;
}

.hidden_project {
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#contacts_section {
    border-radius: 0 0 var(--main-container-border-radius-pc) var(--main-container-border-radius-pc);
    padding-top: var(--padding-between-elements);
    background: linear-gradient(to top right, var(--fourth-section-color) 0%, var(--third-section-color) 100%);
    color: var(--color1);
}

#contact_description {
    display: flex;
}

#contact_form {
    display: inline-block;
    padding-left: 3em;
    padding-right: 20px;
    /* the width is given by 50% if the 100% width minus all the paddings added */
    width: calc(calc(50% - 3em) - 20px);
    border-right: 1px ridge var(--color5);
    padding-bottom: var(--padding-between-elements);
    line-height: 30px;
    font-family: var(--titlefont-family);
}

#contact_form label {
    font-weight: bold;
}

.form_input {
    width: 80%;
    padding: 20px 20px;
    border: 3px groove var(--color5);
}

.form_input:focus {
    background-color: var(--contacts-bg-color-focus);
}

#contact_form .submit_button {
    border: 3px groove var(--color5);
    color: var(--color1);
    font-family: var(--button-font-family);
}

#contact_form .submit_button:hover {
    cursor: pointer;
    transition: 0.2s;
    color: var(--color2);
    border: 2px groove var(--color2);;
}

#contact_form .submit_button[value] {
    font-weight: bold;
}

#contact_info {
    font-family: var(--titlefont-family);
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

#contact_info p {
    padding-left: 2em;
    height: 49.8%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    border: 1px solid var(--color5);
}

#contact_info #contact_info_last_element {
    border-radius: 0 0 var(--main-container-border-radius-pc) 0;
}

footer {
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--color2);
    margin-top: 5em;
    margin-bottom: 2em;
    text-align: center;
}

footer a {
    color: inherit;
    filter: brightness(150%);
}

/* Mobile phones */
@media only screen and (max-width: 600px) {
    html {
        font-size: 8px;
    }

    #element {
        display: none;
    }

    #topnav {
        background-color: var(--color2);
        border-bottom: 2px var(--color1) solid;
    }

    #topnav #topnav_symbol{
        padding: 14px 0px;
        font-size: 1.2em;
    }

    #opennavbtn {
        display: block;
    }

    #sibar_main_text {
        font-size: 0.6em;
        line-height: 20px;
    }

    #sideBar img {
        width: 1.4em;
        height: 1.4em;
        padding: 0.7em;
    }

    #main_start_text {
        margin: 0px 2em;
        font-size: 1.7em;
    }

    #main_start_text #start_text_sub {
        padding: 0px 18px;
    }

    .elementTitle {
        font-size: 1.4em;
        letter-spacing: 1px;
    }

    .elementTitle:before,
    .elementTitle:after {
        width: calc(var(--main-container-width-mobiles)/4.5);
    }

    #mainComponent {
        border-radius: var(--main-container-border-radius-mobile);
        width: var(--main-container-width-mobiles);
    }

    #about_me_section {
        padding: var(--padding-between-elements) 1.5em;
        padding-top: calc(var(--padding-between-elements)/2);
        border-radius: var(--main-container-border-radius-mobile) var(--main-container-border-radius-mobile) 0 0;
    }

    #photo {
        margin-bottom: 40px;
    }

    #about_me_info {
        display: block;
        padding: 20px 0em;
    }

    .about_me_description {
        padding-left: 0px;
        padding-top: 0px;
        font-size: 1.0em;
        line-height: 1.3em;
    }

    #projects_section {
        padding: var(--padding-between-elements) 1em 0px 1em;
    }

    .project {
        display: grid;
        grid-template-columns: auto auto;
    }

    .second_section_project {
        width: 100%;
        margin: 0px;
        padding-left: 0em;
    }

    .tooltiptext {
        display: none;
    }

    #contacts_section {
        border-radius: 0 0 var(--main-container-border-radius-mobile) var(--main-container-border-radius-mobile);
    }

    #contact_description {
        display: block;
    }

    #contact_form {
        display: block;
        align-items: center;
        /* the width is given by 100% width minus all the paddings added */
        width: calc(calc(100% - 2em) - 20px);
        padding-bottom: var(--padding-between-elements);
        padding-left: 2em;
        line-height: 30px;
    }

    #contact_info {
        width: 100%;
        display: block;
    }

    #contact_info p {
        padding-left: 2em;
        height: 100px;
        align-items: center;
        vertical-align: middle;
        border: 1px solid var(--color5);
    }

    #contact_info #contact_info_last_element {
        border-radius: 0 0 var(--main-container-border-radius-mobile) var(--main-container-border-radius-mobile);
    }

    footer {
        font-size: 0.8em;
        font-weight: bold;
    }
}

/* Large Mobile phones */
@media only screen and (min-width: 601px) and (max-width: 767px) {
    #element {
        display: none;
    }

    #topnav {
        background-color: var(--color2);
        border-bottom: 2px var(--color1) solid;
    }

    #topnav #topnav_symbol{
        padding: 14px 0px;
        font-size: 1.2em;
    }

    #opennavbtn {
        display: block;
    }

    html {
        font-size: 9px;
    }

    #sibar_main_text {
        font-size: 0.7em;
        line-height: 25px;
    }

    #sideBar img {
        width: 1.5em;
        height: 1.5em;
        padding: 1.0em;
    }

    #main_start_text {
        padding: 0px 40px;
        font-size: 1.7em;
    }

    .elementTitle {
        font-size: 1.7em;
        letter-spacing: 1px;
    }

    .elementTitle:before,
    .elementTitle:after {
        width: calc(var(--main-container-width-mobiles)/4);
    }

    #mainComponent {
        border-radius: var(--main-container-border-radius-mobile);
        width: var(--main-container-width-mobiles);
    }

    #about_me_section {
        padding: var(--padding-between-elements) 4em;
        padding-top: calc(var(--padding-between-elements)/2);
        border-radius: var(--main-container-border-radius-mobile) var(--main-container-border-radius-mobile) 0 0;
    }

    #photo {
        margin-bottom: 40px;
    }

    #about_me_info {
        display: block;
        padding: 20px 0em;
    }

    .about_me_description {
        padding-left: 0px;
        padding-top: 0px;
        font-size: 1.0em;
        line-height: 1.3em;
    }

    #projects_section {
        padding: var(--padding-between-elements) 2em 0px 2em;
    }

    .project {
        display: grid;
        grid-template-columns: auto auto;
    }

    .second_section_project {
        width: 100%;
        margin: 0px;
        padding-left: 0em;
    }

    .tooltiptext {
        display: none;
    }

    #contacts_section {
        border-radius: 0 0 var(--main-container-border-radius-mobile) var(--main-container-border-radius-mobile);
    }

    #contact_description {
        display: block;
    }

    #contact_form {
        display: block;
        align-items: center;
        /* the width is given by 100% width minus all the paddings added */
        width: calc(calc(100% - 2em) - 20px);
        padding-bottom: var(--padding-between-elements);
        padding-left: 2em;
        line-height: 30px;
    }

    #contact_info {
        width: 100%;
        display: block;
    }

    #contact_info p {
        padding-left: 2em;
        height: 100px;
        align-items: center;
        vertical-align: middle;
        border: 1px solid var(--color5);
    }

    #contact_info #contact_info_last_element {
        border-radius: 0 0 var(--main-container-border-radius-mobile) var(--main-container-border-radius-mobile);
    }

    footer {
        font-size: 1.0em;
        font-weight: bold;
    }
}

/* Ipads */
@media only screen and (min-width: 768px) and (max-width: 1199px) {

    /* Scrollbar width */
    ::-webkit-scrollbar {
        width: 8px;
    }

    #subNavBar {
        height: 0;
    }

    #subNavBar b {
        display: none
    }

    html {
        font-size: 9px;
    }

    .sub_text {
        padding: 0px 10px;
    }

    .elementTitle {
        font-size: 1.9em;
        letter-spacing: 2px;
    }

    #mainComponent {
        border-radius: var(--main-container-border-radius-ipad);
        width: var(--main-container-width-mobiles);
    }

    #about_me_section {
        padding: var(--padding-between-elements) 2.5em;
        border-radius: var(--main-container-border-radius-ipad) var(--main-container-border-radius-ipad) 0 0;
    }

    .about_me_description {
        padding-left: 20px;
        padding-top: 15px;
        font-size: 1.1em;
        line-height: 1.4em;
    }

    #projects_section {
        padding: var(--padding-between-elements) 5em 0px 5em;
    }

    .project {
        display: grid;
        grid-template-columns: auto auto;
    }

    .second_section_project {
        width: 100%;
        margin: 0px;
        padding-left: 2em;
    }

    .tooltiptext {
        display: none;
    }

    #contacts_section {
        border-radius: 0 0 var(--main-container-border-radius-ipad) var(--main-container-border-radius-ipad);
    }

    #contact_info p {
        padding-bottom: 1px;
    }

    #contact_info #contact_info_last_element {
        border-radius: 0 0 var(--main-container-border-radius-ipad) 0;
    }


    footer {
        font-size: 1.2em;
        font-weight: bold;
    }
}

/* PCs */
@media only screen and (min-width: 1200px) {
    #subNavBar {
        height: 0;
    }

    #subNavBar b {
        display: none
    }

    html {
        font-size: 10px;
    }
}