:root {
    --primary-text-color: #ffffff;

    --primary-color: rgb(12, 35, 105);
    --sub-color: rgb(246, 76, 114);
    
    --start-text-sub-title-color: #42AA7A;

    --text-highlight: 0px 0px var(--project-text-shadow-length) rgba(255, 255, 255, 0.7);

    --main-container-width: 85%;
    --padding-between-elements: 100px;

    --first-section-color: #344031;
    --second-section-color: #57784E;
    --third-section-color: #497169;
    --fourth-section-color: #313A3E;

    --project-text-shadow-length: 5px;

    --project1-primary-bg: rgb(255, 185, 0);
    --project2-primary-bg: rgb(0, 255, 124);
    --project3-primary-bg: rgb(0, 150, 255);
    --project4-primary-bg: rgb(120, 86, 255);

    --contacts-border-color: #6861617a;
    --contacts-bg-color-focus: #a8a8a8;

    /* Description font family */
    --titlefont-family: Arial, Helvetica, sans-serif;
    --content-font-family: "Times New Roman", Times, serif;

    --element-title-font-family: Georgia, serif;
    /* Used for buttons text and top/sub bar */
    --button-font-family: Helvetica, Arial, sans-serif;

    --min-width-smartphone-breakpoint: 320px;
    --min-width-tablet-breakpoint: 600px;
    --min-width-pc-breakpoint: 1281px;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

#topnav {
    position: fixed;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    background-color: var(--primary-color);
    display: block;
    transition: background-color 300ms linear;
    font-size: 1.6em;
    font-family: var(--button-font-family);
}

#topnav i {
    float: left;
    color: var(--primary-text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3em;
}

#element a {
    float: right;
    color: var(--primary-text-color);
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

#element a:hover {
    background-color: #ddd;
    color: black;
}

#element a:active {
    background-color: #4CAF50;
    color: var(--primary-text-color);
}

#opennavbtn {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-size: 20px;
    float: right;
    padding: 10px 15px;
    border: none;
    display: none;
}

#subNavBar {
    background-color: var(--primary-color);
    filter: brightness(150%);
    overflow-y: hidden;
    height: 0px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    font-family: var(--button-font-family);
}

#subNavBar.addSubNavBarHeight {
    height: 10em;
}

#subNavBar a {
    padding: 8px 20px;
    text-decoration: none;
    color: #b8b7b7;
    display: block;
}

#sideBar {
    position: fixed;
    top: 30%;
    font-size: 1.5em;
}

#sibar_main_text {
    font-size: 0.8em;
    line-height: 25px;
    color: #7E7E7E;
    font-family: var(--titlefont-family);
}

.sidenav-text {
    visibility: hidden;
    opacity: 0;
    float: left;
    color: #ffffff;

    font-size: 0px;
    font-weight: bold;
    font-family: var(--titlefont-family);

    transition: 0.2s;
}

#sideBar img {
    width: 1.95em;
    height: 1.95em;
    padding: 0.85em;
}

#linkedin {
    display: inline-block;
    background-color: #0368c7;
}

#linkedin:hover>a>.sidenav-text {
    visibility: visible;
    opacity: 1;
    font-size: 1.1em;
    padding: 1.1em 5px 1.1em 1.0em;
}

#github {
    background-color: #000000;
    display: inline-block;
}

#github:hover>a>.sidenav-text {
    visibility: visible;
    opacity: 1;
    font-size: 1.1em;
    padding: 1.1em 5px 1.1em 1.0em;
}

#email {
    background-color: #018d06;
    display: inline-block;
}

#email:hover>a>.sidenav-text {
    visibility: visible;
    opacity: 1;
    font-size: 1.1em;
    padding: 1.1em 5px 1.1em 1.0em;
}

#resume {
    background-color: #646464;
    display: inline-block;
}

#resume:hover>a>.sidenav-text {
    visibility: visible;
    opacity: 1;
    font-size: 1.1em;
    padding: 1.1em 5px 1.1em 1.0em;
}

.main_start_text {
    padding-top: 30vh;
    padding-bottom: 60vh;
    text-align: center;
    font-size: 2em;
}

.main_start_text #start_text_main {
    color: var(--primary-text-color);
    font-size: 2em;
    font-family: var(--titlefont-family);
    letter-spacing: 3px;
}

.main_start_text #start_text_divider {
    border-color: var(--primary-color);
    filter: brightness(200%);
    max-width: 3em;
    border-width: 1.5px;
    margin: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.main_start_text #start_text_sub {
    font-size: 1em;
    line-height: 1.4em;
    font-family: var(--content-font-family);
    font-style: italic;

    color: var(--start-text-sub-title-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #253E45;
}

.main_start_text #start_text_button {
    margin-top: 3em;
    border: none;
    width: 12em;
    height: 4em;
    color: var(--primary-text-color);
    border-radius: 10px;
    background: var(--primary-color);
    transition: 0.5s;
    outline: none;

    font-family: var(--button-font-family);
    font-size: 0.65em;
    letter-spacing: 1px;
}

.main_start_text #start_text_button:hover {
    background: var(--primary-color);
    filter: brightness(150%);
    width: 12em;
    height: 4em;
    border-radius: 50px;
    text-shadow: var(--text-highlight);
}

#mainComponent {
    display: absolute;
    background-color: white;
    margin: auto;
    width: var(--main-container-width);
    font-size: 1.7em;
}

.elementTitle {
    text-align: center;
    font-weight: bold;
    color: var(--sub-color);
    font-size: 2em;
    padding-bottom: 3em;

    font-family: var(--element-title-font-family);
    letter-spacing: 3px;
    font-variant: small-caps;
    font-weight: normal;
}

.elementTitle:before,
.elementTitle:after {
    content: "";
    display: inline-block;
    width: calc(var(--main-container-width)/3);
    margin: 0 2em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
    color: var(--sub-color);
}

.elementTitle:after {
    margin: 0 -55% 0 2em;
}

#about_me_section {
    padding: var(--padding-between-elements) 5em;
    background: linear-gradient(to top left, var(--first-section-color) 0%, var(--second-section-color) 100%);
    color: var(--primary-text-color);
}

#about_me_info {
    display: flex;
    padding: 20px 2em;
    width: 100%;
}

#photo {
    width: 60em;
    height: 50em;
}

.about_me_description {
    width: 100%;
    padding-left: 80px;
    padding-top: 30px;
    font-size: 1.1em;
    line-height: 1.5em;
}

.main_text {
    color: var(--primary-text-color);
    font-size: 1.6em;
    font-weight: 800;
}

#about_me_sub_info {
    color: var(--primary-text-color);
    font-size: 0.8em;
    padding-left: 1.5em;
    padding-bottom: 2.5em;
    filter: brightness(70%);
}

.sub_text {
    color: var(--primary-text-color);
    line-height: 1.8em;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 300;
    font-family: var(--content-font-family);
}

#projects_section {
    padding: var(--padding-between-elements) 0px;
    background: linear-gradient(to bottom left, var(--first-section-color) 0%, var(--third-section-color) 100%);
    color: var(--primary-text-color);
}

.project {
    display: flex;
    padding: 100px 70px;
}

.project_img{
    display: inline-block;
    width: 25em;
    height: 18em;
    margin-top: 1.5em;
    margin-left: 1em; 
    margin-right: 2em;
}

.project_info{
    width: 100%;
    margin: 0px;
    padding-left: 4em;
}

.title_project{
    font-family: var(--titlefont-family);
    font-weight: bold;
    font-size: 1.5em;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.589); 
    filter: brightness(140%);
}

.project_info .technology_used {
    margin-left: 20px; 
}

.single_technology_used {
    font-size: 0.9em;
    display: inline-block;
    margin-left: 20px; 
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0.3em 1em;
    border: 1px dotted;
    border-radius: 45%;
}

.project_info .project_description {
    font-size: 1.1em;
    line-height: 1.8em;
    font-family: var(--content-font-family);
}

.description_space {
    padding-left: 2em;
    font-size: 1.0em;
    line-height: 1.5em;
}

.project_info .utility_button {
    padding-top: 30px;
}

.project_info .utility_button a{
    text-decoration: none;
}

.project_info .utility_button button {
    width: 9em;
    height: 3.5em;
    color: var(--primary-text-color);
    transition: 0.5s;
    border: none;
    border-radius: 5px;
    outline: none;
    justify-content: space-between;
    font-size: 1.0em;
    font-weight: bold;
    font-family: var(--button-font-family);
}

.project_info .utility_button button:hover {
    border-radius: 50px;
    text-shadow: var(--text-highlight);
}

#project1 .title_project {
    color: var(--project1-primary-bg);
 }

#project1 .technology_used .single_technology_used{
    border-color: var(--project1-primary-bg);
}

#project1 .technology_used .single_technology_used span{
    text-shadow: 1px 1px var(--project1-primary-bg), -1px -1px #444;
}

#project1 button {
    background: var(--project1-primary-bg);
    filter: brightness(70%);
}

#project1 button:hover {
    filter: brightness(105%);
}

#project2 .title_project {
    color: var(--project2-primary-bg);
 }

#project2 .technology_used .single_technology_used{
    border-color: var(--project2-primary-bg);
}

#project2 .technology_used .single_technology_used span{
    text-shadow: 1px 1px var(--project2-primary-bg), -1px -1px #444;
}

#project2 button {
    background: var(--project2-primary-bg);
    filter: brightness(70%);
}

#project2 button:hover {
    filter: brightness(105%);
}

#project3 .title_project {
    color: var(--project3-primary-bg);
 }

#project3 .technology_used .single_technology_used{
    border-color: var(--project3-primary-bg);
}

#project3 .technology_used .single_technology_used span{
    text-shadow: 1px 1px var(--project3-primary-bg), -1px -1px #444;
}

#project3 button {
    background: var(--project3-primary-bg);
    filter: brightness(70%);
}

#project3 button:hover {
    filter: brightness(105%);
}

#project4 .title_project {
    color: var(--project4-primary-bg);
 }

#project4 .technology_used .single_technology_used{
    border-color: var(--project4-primary-bg);
}

#project4 .technology_used .single_technology_used span{
    text-shadow: 1px 1px var(--project4-primary-bg), -1px -1px #444;
}

#project4 button {
    background: var(--project4-primary-bg);
    filter: brightness(70%);
}

#project4 button:hover {
    filter: brightness(105%);
}

.show_hide_project_buttons {
    position: absolute;
    left: 50%;
    background-color: #00000000;
    border: none;
    outline: none;
    transition: 0.4s;
}

.show_hide_project_buttons:hover {
    color: red;
}

#show_more_project_button {
    visibility: visible;
}

#hide_project_button {
    visibility: hidden;
}

.hidden_project {
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#contacts_section {
    padding-top: var(--padding-between-elements);
    background: linear-gradient(to top right, var(--fourth-section-color) 0%, var(--third-section-color) 100%);
    color: var(--primary-text-color);
}

#contact_description {
    display: flex;
}

#contact_form {
    display: inline-block;
    padding-left: 3em;
    padding-right: 20px;
    /* the width is given by 50% if the 100% width minus all the paddings added */
    width: calc(calc(50% - 3em) - 20px);
    border-right: 1px ridge var(--contacts-border-color);
    padding-bottom: var(--padding-between-elements);
    line-height: 30px;
    font-family: var(--titlefont-family);
}

#contact_form label {
    font-weight: bold;
}

.form_input {
    width: 80%;
    padding: 20px 20px;
    background-color: var(--third-section-color);
    border: 2px groove var(--contacts-border-color);
}

.form_input:focus {
    background-color: var(--contacts-bg-color-focus);
}

#contact_form .submit_button {
    border: 1.5px solid #000000;
    color: var(--primary-text-color);
    font-family: var(--button-font-family);
}

#contact_form .submit_button:hover {
    cursor: pointer;
    transition: 0.2s;
    color: #2583b9;
    border: 2px groove #2583b9;
}

#contact_form .submit_button[value] {
    font-weight: bold;
}

#contact_info {
    font-family: var(--titlefont-family);
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

#contact_info p{
    padding-left: 2em;
    height: 49.6%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    border: 1px solid var(--contacts-border-color);
}

footer{
    font-size: 1.5em;
    font-weight: bolder;
    color: rgba(82, 56, 56, 0.7); 
    margin-top: 5em;
    margin-bottom: 2em;
    text-align: center;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.589); 
}

footer a{
    color: inherit;
    filter: brightness(150%);
}

@media only screen and (max-width: 767px) {
    #element {
        display: none;
    }

    #opennavbtn {
        display: block;
    }

    html {
        font-size: 8px;
    }

    #sibar_main_text {
        font-size: 0.6em;
        line-height: 20px;
    }

    #sideBar img {
        width: 1.4em;
        height: 1.4em;
        padding: 0.7em;
    }

    .main_start_text {
        margin: 0px 30px;
        font-size: 1.7em;
    }

    .elementTitle {
        font-size: 1.4em;
        letter-spacing: 1px;
    }

    .elementTitle:before,
    .elementTitle:after {
        width: calc(var(--main-container-width)/4.5);
    }

    #about_me_section {
        padding: var(--padding-between-elements) 1.5em;
        padding-top: calc(var(--padding-between-elements)/2);
    }

    #photo {
        margin-bottom: 40px;
    }

    #about_me_info {
        display: block;
        padding: 20px 0em;
    }

    .about_me_description {
        padding-left: 0px;
        padding-top: 0px;
        font-size: 1.0em;
        line-height: 1.3em;
    }

    .project {
        display: block;
        padding: 40px 30px;
    }

    .project_info{
        width: 100%;
        margin: 0px;
        padding-left: 0em;
    }

    .title_project{
        padding-top: 30px;
        font-weight: bold;
        font-size: 1.3em;
    }

    .project_img{
        display: inline-block;
        width: 100%;
        height: 100%;
        margin-top: 0em;
        margin-left: 0em; 
        margin-right: 0em;
    }

    .project_info .utility_button button {
        width: 7.5em;
        height: 3em;
        font-size: 0.9em;
    }

    #contact_description {
        display: block;
    }

    #contact_form {
        display: block;
        align-items: center;
        /* the width is given by 100% width minus all the paddings added */
        width: calc(calc(100% - 2em) - 20px);
        padding-bottom: var(--padding-between-elements);
        padding-left: 2em;
        line-height: 30px;
    }

    #contact_info {
        width: 100%;
        display: block;
    }
    
    #contact_info p{
        padding-left: 2em;
        height: 100px;
        align-items: center;
        vertical-align: middle;
        border: 1px solid var(--contacts-border-color);
    }

    footer{
        font-size: 0.8em;
        font-weight: bold;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    #subNavBar {
        height: 0;
    }

    #subNavBar b {
        display: none
    }

    html {
        font-size: 9px;
    }

    .sub_text {
        padding: 0px 50px;
    }

    #about_me_section {
        padding: var(--padding-between-elements) 2.5em;
    }

    .about_me_description {
        padding-left: 20px;
        padding-top: 15px;
        font-size: 1.1em;
        line-height: 1.4em;
    }

    .project {
        display: flex;
        padding: 60px 40px;
    }

    .project_img{
        display: inline-block;
        width: 20em;
        height: 15em;
        margin-top: 2em;
        margin-left: 0em; 
        margin-right: 0em;
    }

    .project_info .utility_button button {
        width: 7.7em;
        height: 3.5em;
        font-size: 0.9em;
    }

    .project_info{
        width: 100%;
        margin: 0px;
        padding-left: 2em;
    }

    .elementTitle {
        font-size: 1.9em;
        letter-spacing: 2px;
    }

    footer{
        font-size: 1.2em;
        font-weight: bold;
    }
}

@media only screen and (min-width: 1200px) {
    #subNavBar {
        height: 0;
    }

    #subNavBar b {
        display: none
    }

    html {
        font-size: 10px;
    }
}